<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <% unless @user.new_record? %>
		<div class="field">
		  <%= f.label :old_password %><br />
		  <%= f.password_field :old_password %>
		</div>
  <% end %>
  <div class="field">
    <%= f.label :password, 'New Password' %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :role %>
    <%= f.collection_select :role_id, Role.order(:name).all, :id, :name, :prompt=>"Select a role" %>
  </div>
  <div class="field">
    <%= f.label :screen_name %><br />
    <%= f.text_field :screen_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.check_box :is_notify %> 
    <%= f.label :is_notify,"Email me with new bugs for me" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
