<div id="task_ledgers">
	<% unless @project.nil? %>
		<p>
			<b> Task Ledger: </b>
			<table border=1>
				<tr>
		 	<th> <%= sorted_task_ledgers 'Task', @project, 'name' %> </th>
		 	<th> <%= sorted_task_ledgers 'Start', @project, 'start_datetime' %> </th>
		 	<th> End </th>
		 	<th> <%= sorted_task_ledgers 'User', @project, 'screen_name' %> </th>
		 	<th> <%= sorted_task_ledgers 'Duration(hrs)', @project, 'duration' %> </th>
		 	<th> Notes </th>
			<th> Options </th>
				</tr>
			<% task_ledgers = TaskLedger.find_with_sort_key(@project.id, params[:sort])%>
			<% for t in task_ledgers %>
				<tr>
		 	<td <%= "class=overriden" if t.is_manual %>> <%= t.task.name %> </td>
		 	<td> <%= t.start_datetime.ctime %> </td>
		 	<td> <%= t.end_datetime.ctime if !t.end_datetime.nil? %> </td>
		 	<td> <%= t.user.screen_name %> </td>
		 	<td> <%= "%.2f" % t.duration if !t.duration.nil? %> </td>
		 	<td> <%= simple_format(t.description.squeeze(" "),{}, :sanitize=>true) unless t.description.nil? %> </td>
			<td class='delete_item'> 
				<% if t.user_id == session[:user_id] && t.status != "Active" %>
			<%= link_to 'Edit', edit_project_task_task_ledger_path(@project.id, t.task.id, t.id), :confirm=>"Override?" %> 
			<%= link_to 'Destroy', project_task_task_ledger_path(@project.id, t.task.id, t.id), :method=>:delete, :remote=>true, :confirm=>"Are you sure?" %> 
			
				<% end %>
			</td>
				</tr>
			<% end %>
			</table>
		</p>
	<% end %>
</div>
