<h1>Listing bug_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bug_categories.each do |bug_category| %>
  <tr>
    <td><%= bug_category.name %></td>
    <td><%= bug_category.description %></td>
    <td><%= link_to 'Show', bug_category %></td>
    <td><%= link_to 'Edit', edit_bug_category_path(bug_category) %></td>
    <td><%= link_to 'Destroy', bug_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bug category', new_bug_category_path %>
