
	<%= form_for @user, :url=>{:controller => "application", :action => "authenticating"} do |f| %>
	  <div class="field">
      <%= f.label :user_name %><br />
      <%= f.text_field :user_name %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Login" %>
    </div>
	<% end %>
	
	<p>
	  Default username is: firstLetterofFirstNamelastName
	  <br/>
	  Default password is: firstLetterofFirstNamelastName_helloworld
 	  <br/>
	  If you were registered, that is. :D
	</p>
